.content{
    display: flex;
  //default direction for flex is row so you dont need this
    flex-wrap: wrap;
  //the justify content wont do anything here becuase its only centering the direct child, which is .posts
    font-family: 'Roboto', sans-serif;

}
h1{
    text-align: center;
    color: rgb(14, 180, 221);
    font-family: 'Roboto', sans-serif;
}
.posts{
    display: flex;
    flex-direction: column;
    align-items: center; //this will center the post content within the grey box, remember you need to switch whether you use justify-content or align-items depending which flex-direction is applied
    border-radius: 10px;
    width: 550px;
    min-height: 400px; //setting a min-height will allow the box to stretch bigger if it needs to
    margin: 15px;
    background-color: rgb(235, 235, 235);
    box-shadow: 2px 2px 2px rgb(151, 151, 151);
}
h2{
    margin: 20px;
    color: rgb(14, 180, 221);
    font-size: 32px;
}
img{
    margin: 20px;
}
a{
    margin: 20px;
    font-size: 16px;
    color:rgb(148, 148, 148);
    text-align: left;
}
