.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Roboto', sans-serif;

}
h1{
    text-align: center;
    color: rgb(14, 180, 221);
    font-family: 'Roboto', sans-serif;
}
.posts{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 550px;
    height: 400px;
    margin: 15px;
    background-color: rgb(235, 235, 235);
    box-shadow: 2px 2px 2px rgb(151, 151, 151);
}
h2{
    margin: 20px;
    color: rgb(14, 180, 221);
    font-size: 32px;
}
img{
    margin: 20px;
}
a{
    margin: 20px;
    font-size: 16px;
    color:rgb(148, 148, 148);
    text-align: left;
}